{% extends \"base.html\" %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
<h2>Admin Dashboard</h2><hr>
<div class=\"row\">
    <div class=\"col-md-3\"><div class=\"card\"><div class=\"card-body\"><h5>Elections</h5><a href=\"#\" class=\"btn btn-primary btn-sm\">Manage</a></div></div></div>
    <div class=\"col-md-3\"><div class=\"card\"><div class=\"card-body\"><h5>Candidates</h5><a href=\"#\" class=\"btn btn-primary btn-sm\">Manage</a></div></div></div>
    <div class=\"col-md-3\"><div class=\"card\"><div class=\"card-body\"><h5>Voters</h5><a href=\"#\" class=\"btn btn-primary btn-sm\">Manage</a></div></div></div>
</div>
{% endblock %}
